/build/
/.idea
/.codebuddy
__pycache__/
*.pyc
/dist
/overlay/overlay_config.json
/cd_server.log
CD_Companion.exe
/overlay/CD_Companion.exe
/overlay/cd_server.log
/server/certs/server.crt
/server/certs/server.key
